{% extends "layout" %}
{% set activePage = 'board' %}

{% block title %}{{boardName}}{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="resources/static/css/board.css" />
{% endblock css %}

{%block headerJs %}
{% endblock headerJs %}

{% block js %}
{% endblock js %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>{{boardName}}</h3>
            <h6>Created {{dateCreated}}</h6>
            {% for member in boardMembers %}
                <h6>member</h6>
            {% endfor %}
            <input type="text" class="form-control" id="member-username" size="40" />
            <button onclick="createAccount()" id="add-member-button" type="submit" class="btn btn-default">
                Add New Member
            </button>

        </div>
        <div class="col-md-8">
            <section>
                <h3>This is a post</h3>
            </section>
        </div>
    </div>
</div>
{% endblock content %}