.top-navbar {
    background-image: url("https://static.pexels.com/photos/2752/city-sunny-people-street.jpg");
    background-position: 36% 62%;
}

.overlay-layer {
    padding-top: 50px;
    padding-bottom: 30px;
}

.overlay-layer:after {
    /*background-color: #eea236;*/
    rgba(160,112,180,0.7);
}

.logo {
    display: inline-block;
    width: 180px;
}

.top-navbar-content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 15px;
}

#top-navbar-text-logo {
    font-size: 50px;
    margin-left: 30px;
    line-height: 1.07;
}

#top-navbar-logo * span {
    font-size: 70px;
    font-weight: bold;
}

.top-navbar .text-block {
    display: inline-block;
}

#logout-button {
    display: inline-block;
}

#top-navbar-subtitle-container {
    margin-left: 150px;
}

.top-navbar .subtitle {
    margin-right: 30px;
    font-size: 25px;
}

.white-text {
    color: #FFFFFF;
}

a#top-navbar-logo:link, a#top-navbar-logohover {
    text-decoration: none;
}